<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo/financie_logo.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <header>
    
        <img class="logo" src="{{ url_for('static', filename='images/logo/financie_name.png') }}" alt="Imagem do Cabeçalho">
     

        <section class="header-links">

            <a href="/user/register" class="link">Serviços</a>
            <a href="/user/login" class="link">Soluções</a>     
            <a href="/user/login" class="link">Preços</a>  
            <a href="/user/login" class="link">Help Center</a>      

        </section>
        
        
        <section class="header-login">
            {% if current_user.is_authenticated %}
                <a href="/dashboard/user" class="dashboard">Dashboard</a>
                <a href="/user/logout" class="logout">Logout</a>
            {% else %}
                <a href="/user/register" class="register">Criar conta</a>
                <a href="/user/login" class="login">Login</a>           
            {% endif %}
        </section>

    </header>

    <div >
        Logo, navigation, etc.
      </div>

    <main>

        <article-hero class="header finisher-header">
            <section-hero>
                <h1 type="text" >Simplifique sua <br><h1_1>gestão financeira</h1_1></h1>
                <h2>Gerencie suas finanças com facilidade e segurança,<br>tome decisões de forma inteligente e lucrativa.</h2>      
                <a class="box-hero" href="#features"><h3>Experimente grátis por 7 dias!</h3></a>
        </article-hero>

        <article class="features">

            <section class="feature">      
                
                <container class="feature-photo-container">
                  <img class="feature-photo" src="{{ url_for('static', filename='images/index/features/feature_1.png') }}" alt="Imagem do feature 1">
                </container>

                <container class="feature-container">
                    <h4>VOCÊ PODE</h4>
                    <h5><h5_1>Gerir</h5_1> suas transações</h5>
                    <h6>Registre receitas e despesas com poucos cliques. Edite, pesquise ou exclua transações facilmente, mantendo suas finanças sempre organizadas.</h6>
                    <a class="box-feature-1"><h6>Comece já!</h6></a>
                </container>

            </section>

            <section class="feature">      

                <container class="feature-container">
                    <h4>VOCÊ PODE</h4>
                    <h5><h5_2>Acompanhar</h5_2> suas finanças</h5>
                    <h6>Monitore seu fluxo de caixa, Veja gráficos e insights de receitas e despesas, filtre por períodos (como mês ou trimestre) e muito mais!</h6>
                    <a class="box-feature-2"><h6>Comece já!</h6></a>
                </container>

                <container class="feature-photo-container">
                    
                </container>

            </section>

            <section class="feature">      

                <container class="feature-photo-container">
                  <img class="feature-photo" src="{{ url_for('static', filename='images/index/features/feature_3.png') }}" alt="Imagem do feature 3">
                </container>

                <container class="feature-container">
                    <h4>VOCÊ PODE</h4>
                    <h5><h5_3>Economizar</h5_3> dinheiro</h5>
                    <h6>Detecte padrões de gastos excessivos, permitindo cortar custos supérfluos e direcionar seu dinheiro para o que realmente importa.</h6>
                    <a class="box-feature-3"><h6>Comece já!</h6></a>
                </container>

            </section>

          </article>

        <div class="attributes_title"><h5_3>Simples,</h5_3>&nbsp;<h5_1>facil</h5_1>&nbsp;<h5>e</h5>&nbsp;<h5_2>rápido.</h5_2></div>

        <article class="attributes">

          <container class="attribute"> 
            <div class="attribute_title"><h7>Cadastro</h7><br><h7_1>simples</h7_1></div>
            <div><h8>Comece em minutos: cadastre-se com e-mail, senha e CPF/CNPJ sem complicações.</h8></div>
            <img class="attribute_icon" src="{{ url_for('static', filename='images/index/icons/form.png') }}" alt="icon form"></img>
          </container>

          <container class="attribute"> 
            <div><h7>IA</h7><br><h7_1>integrada</h7_1></div>
            <div><h8>IA a seu favor: receba dicas personalizadas e alertas em tempo real.</h8></div>
            <img class="attribute_icon" src="{{ url_for('static', filename='images/index/icons/brain.png') }}" alt="icon brain"></img>
          </container>

          <container class="attribute"> 
            <div><h7>Registro de</h7><br><h7_1>transações</h7_1></div>
            <div><h8>Registre receitas e despesas em poucos cliques: valor, data, descrição e categoria e mais.</h8></div>
            <img class="attribute_icon" src="{{ url_for('static', filename='images/index/icons/transaction.png') }}" alt="icon transaction"></img>
          </container>

          <container class="attribute"> 
            <div><h7>Notificações</h7><br><h7_1>por email</h7_1></div>
            <div><h8>Fique no controle: receba alertas por e-mail sobre contas próximas ao vencimento.</h8></div>
            <img class="attribute_icon" src="{{ url_for('static', filename='images/index/icons/email.png') }}" alt="icon email"></img>
          </container>

        </article>

        
    </main>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/finisher-header.es5.min.js') }}"></script>

<script type="text/javascript">
  new FinisherHeader({
    "count": 6,
    "size": {
      "min": 1100,
      "max": 1300,
      "pulse": 0
    },
    "speed": {
      "x": {
        "min": 0.1,
        "max": 0.3
      },
      "y": {
        "min": 0.1,
        "max": 0.3
      }
    },
    "colors": {
      "background": "#47008a",
      "particles": [
        "#00aaea",
        "#13d100",
        "#0036ff"
      ]
    },
    "blending": "overlay",
    "opacity": {
      "center": 1,
      "edge": 0.1
    },
    "skew": 0,
    "shapes": [
      "c"
    ]
  });
  </script>
    
</body>
</html>