<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beesiness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/financie_logo.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <header>
    
        <img class="logo" src="{{ url_for('static', filename='images/financie_name.png') }}" alt="Imagem do Cabeçalho">
     

        <section class="header-links">

            <a href="/user/register" class="link">Serviços</a>
            <a href="/user/login" class="link">Soluções</a>     
            <a href="/user/login" class="link">Preços</a>  
            <a href="/user/login" class="link">Help Center</a>      

        </section>
        
        
        <section class="header-login">
            {% if current_user.is_authenticated %}
                <a href="/dashboard/user" class="dashboard">Dashboard</a>
                <a href="/user/logout" class="logout">Logout</a>
            {% else %}
                <a href="/user/register" class="register">Criar conta</a>
                <a href="/user/login" class="login">Login</a>           
            {% endif %}
        </section>

    </header>

    <div >
        Logo, navigation, etc.
      </div>

    <main>

        <article-hero class="header finisher-header" style="width: 100vw; height: 100vh;">
            <section-hero>
                <h1 type="text" >Simplifique sua <br><h1_1>gestão financeira</h1_1></h1>
                <h2>Organize suas finanças, acompanhe seu fluxo de caixa e <br>tome decisões de forma inteligente e segura.</h2>      
                <a class="box-hero" href="#features"><h3>Experimente grátis por 7 dias!</h3></a>
        </article-hero>

        <!--<hero-degrade>
            <h4>O Financie é a solução ideal para pequenos empreendedores e pessoas físicas que desejam abandonar planilhas e cadernos.</h4>
        </hero-degrade>-->

        <features>

            <feature>      
                
                <feature-photo>
                    
                </feature-photo>

                <feature-container>
                    <h4>VOCÊ PODE</h4>
                    <h5><h5_1>Gerir</h5_1> suas transações</h5>
                    <h6>Registre receitas e despesas com poucos cliques. Edite, pesquise ou exclua transações facilmente, mantendo suas finanças sempre organizadas.</h6>
                </feature-container>

            </feature>

            <feature>      

                <feature-container>
                    <h4>VOCÊ PODE</h4>
                    <h5><h5_2>Acompanhar</h5_2> suas finanças</h5>
                    <h6>Monitore seu fluxo de caixa, Veja gráficos e insights de receitas e despesas, filtre por períodos (como mês ou trimestre) e muito mais!</h6>
                </feature-container>

                <feature-photo>
                    
                </feature-photo>

            </feature>

            <feature>      

                <feature-photo>
                    
                </feature-photo>

                <feature-container>
                    <h4>VOCÊ PODE</h4>
                    <h5><h5_3>Economizar</h5_3> dinheiro</h5>
                    <h6>Detecte padrões de gastos excessivos, permitindo cortar custos supérfluos e direcionar seu dinheiro para o que realmente importa.</h6>
                </feature-container>

            </feature>

        </features>

        
    </main>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/finisher-header.es5.min.js') }}"></script>

<script type="text/javascript">
    new FinisherHeader({
      "count": 10,
      "size": {
        "min": 266,
        "max": 945,
        "pulse": 1.8
      },
      "speed": {
        "x": {
          "min": 0.1,
          "max": 0.6
        },
        "y": {
          "min": 0.1,
          "max": 0.6
        }
      },
      "colors": {
        "background": "#00c5ff",
        "particles": [
          "#fff300",
          "#06ff00",
          "#2437e8",
          "#118686"
        ]
      },
      "blending": "overlay",
      "opacity": {
        "center": 0.3,
        "edge": 0.01
      },
      "skew": 0,
      "shapes": [
        "c"
      ]
    });
    </script>

    
</body>
</html>