* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Transição suave ao rolar a tela */
html {
    scroll-behavior: smooth;
}

/* Configuração básica do corpo da página */
body {
    font-family: inter;
    overflow-x: hidden; 
    
}

header{
    background-color: white;
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow:visible;
    z-index: 3;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;
}


.logo{
    
    width: 8rem;
    padding: 0.9rem;
}

.header-links{
    display: flex;
    align-items: center;
    width: auto;
    
}

.link{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2.5rem;
    text-decoration: none;
    color: #565e6c;
    border-radius: 0.2rem;

    text-align: center;
    font-family: inter;
    font-size:0.9rem;
    font-weight: 400;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover{
    background-color: #e9e9e9;
    color: #1E1E1E;
}


.header-login{
    display: flex;
    align-items: center;
    width: auto;
    
}

.register{
    background-color: #2971d9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    text-decoration: none;
    color: white;
    border-radius: 0.3rem;

    text-align: center;
    font-family: inter;
    font-size:0.9rem;
    font-weight: 400;

    transition: background-color 0.3s ease, color 0.3s ease;
}
.register:hover{
    background-color: #f2f2fd;
    color: #1E1E1E;
}

.login {
    background-color: #f2f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2.5rem;
    text-decoration: none;
    color: #2971d9;
    margin-left: 1rem;
    border-radius: 0.3rem;

    text-align: center;
    font-family: inter;
    font-size:0.9rem;
    font-weight: 400;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.login:hover{
    background-color: #2971d9;
    color: #f2f2fd;
}


.dashboard{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    text-decoration: none;
    color: white;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease, color 0.3s ease
}
.dashboard:hover{
    background-color: #dbdbdb;
    color: #1E1E1E;
}

.logout{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease, color 0.3s ease
}
.logout:hover{
    background-color: #a70808;
    color: #1E1E1E;
}


/*--------------------------------------------*/

h1{
    font-family: "Archivo", sans-serif;
    caret-color: transparent;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    line-height: 3rem;
}

h1_1{
    font-family: "Archivo", sans-serif;
    caret-color: transparent;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 2rem;
    line-height: 5rem;
}

h2{
    font-family: inter;
    caret-color: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    line-height: 2rem;
}

h3{
    font-family: inter;
    font-size: 0.9rem;
    font-weight: 600;
    color: #1d75f0;
}

h3_1{
    text-align: center;
    font-family: inter;
    font-size:2.6rem;
    font-weight: 400;
    color: #EDC805;
}

h4{
    text-align: left;
    font-family: inter;
    font-size:1.3vw;
    font-weight: 400;
    color: #6e7787;

    padding-bottom: 1.5rem;
}


h5{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #323842;

    padding-bottom: 1.4rem;
}

h5_1{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #00c462;

    padding-bottom: 1.4rem;
}


h5_2{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #efb034;

    padding-bottom: 1.4rem;
}


h5_3{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #2971d9;

    padding-bottom: 1.4rem;
}


h6{
    text-align: left;
    font-family: inter;
    font-size:1.2vw;
    font-weight: 400;
    line-height: 1.8rem;
    color: #6e7787;
}

h7{
    text-align: center;
    font-family: inter;
    font-size:1rem;
    font-weight: 400;
    color: #43a473;
}

h8{
    text-align: center;
    font-family: inter;
    font-size:1.8rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


h9{
    text-align: center;
    font-family: inter;
    font-size:1rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

h10{
    text-align: center;
    font-family: inter;
    font-size:2.4rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

h11{
    text-align: center;
    font-family: inter;
    font-size:0.9rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}


/*--------------------------------------------*/


article-hero {
    position: relative;
    overflow:visible;
    z-index: 1;
    display: flex;
    padding: 0rem 0rem;
    padding-top: 2rem;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    text-align: center;
    width:100vw;
    height:100vh;

    padding-right: 10vw;
    padding-left: 10vw;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 138px, rgba(0, 0, 0, 0.22) 0px 15px 112px;
    
}

section-hero{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50vw;
    height: 100%;
    
}

.box-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 16rem;
    height: 3rem;
    border-radius: 0.3rem;
    margin-top: 3rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.box-hero:hover{
    background-color: #3e7dd4;
    h3{
        color: white;
    }
}


hero-degrade{
    background-image: linear-gradient(#2971d9, #22CCB2);
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}


/*--------------------------------------------*/

h4{
    text-align: left;
    font-family: inter;
    font-size:1.3vw;
    font-weight: 400;
    color: #6e7787;

    padding-bottom: 1.5rem;
}


h5{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #323842;

    padding-bottom: 1.4rem;
}

h5_1{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #00c462;

    padding-bottom: 1.4rem;
}


h5_2{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #efb034;

    padding-bottom: 1.4rem;
}


h5_3{
    font-family: "Archivo", sans-serif;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: #2971d9;

    padding-bottom: 1.4rem;
}


h6{
    text-align: left;
    font-family: inter;
    font-size:1.2vw;
    font-weight: 400;
    line-height: 1.8rem;
    color: #6e7787;
}


features{
    display:flex;
    flex-direction: column;    

    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

feature{
    display:flex;
    flex-direction: row;   
    margin-top: 4rem;
}

feature-photo-container{
    display:flex;
    justify-content: center;
    width: 50vw;
    height: 60vh;

    padding-left: 5vw;
    padding-right: 5vw;
}

feature-container{
    display:flex;
    justify-content: center;
    width: 50vw;
    height: 60vh;

    
    padding: 7,0 rem;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: column;  
    background-color: white;
}

.box-feature-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00c462;
    width: 10vw;
    height: 6vh;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    h6{color: white}
}

.box-feature-1:hover{
    background-color:  #35815BFF;
    h6{color: white}
    
}


.box-feature-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #EFB034FF;
    width: 10vw;
    height: 6vh;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    h6{color: white}
}

.box-feature-2:hover{
    background-color:  #D29211FF;
    h6{color: white}
    
}


.box-feature-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2971D9FF;
    width: 10vw;
    height: 6vh;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    h6{color: white}
}

.box-feature-3:hover{
    background-color:   #1F5DB2FF;
    h6{color: white}
    
}
